extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th title
            th store
            th Country
            th Year
            th Updated time
            th View
            th Update
            th Delete
          tbody
            each item in movies
              tr(class="item-id-#{item._id}")
                td #{item.title}
                td #{item.store}
                td #{item.country}
                td #{item.year}
                td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                td: a(target="_blank", href="/movie/#{item._id}") View
                td: a(target="_blank", href="../admin/update/#{item._id}") Update
                td
                  button.btn.btn-danger.del(type="button", data-id="#{item._id}") Delete
  script(src="/js/admin.js")
